.profile {
  margin: 0;
  height: calc(100vh - 78px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__container {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.profile__form {
  margin: 123px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
}

.profile__inputs {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.profile__input-container {
  margin: 11px 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profile__input-container:first-of-type {
  padding: 0 0 16px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__label {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  min-width: 40px;
}

.profile__input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  padding: 0;
  background-color: burlywood;
  width: 100%;
}

.profile__input:disabled {
  background-color: white;
  text-align: right;
}

.profile__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin: 6px 0 0;
}

.profile__buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__save-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__success-messege {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: green;
  margin: 0 0 6px;
}
.profile__error-messege {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin: 0 0 6px;
}

.profile__button-edit {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  cursor: pointer;
  border: none;
  background: none;
}

.profile__button-save {
  padding: 13px 124px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.profile__button-not-save {
  text-decoration: none;
  color: #FF4062;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: fit-content;
  background: #FFFFFF;
  cursor: pointer;
}

.profile__button-save:disabled {
  background: #F9F9F9;
  cursor: auto;
}

.profile__button-exit {
  margin: 16px 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF4062;
  cursor: pointer;
  border: none;
  background: none;
}

.profile__button-edit:hover {
  opacity: 0.8;
}
.profile__button-exit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile__form {
    margin: 96px 0 0;
    min-height: 320px;
  }
}

@media screen and (max-width: 420px) {
  .profile__container {
    width: 260px;
  }

  .profile__form {
    margin: 80px 0 0;
    min-height: 487px;
  }

  .profile__button-edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-save {
    padding: 15px 67px;
    font-size: 12px;
    line-height: 15px;
  }
  
  .profile__button-exit {
    font-size: 12px;
    line-height: 15px;
  }
}