.login {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  width: 396px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__link {
  margin: 0;
  max-width: fit-content;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__title {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.login__form {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
}

.login__label {
  margin: 24px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  border: none;
  margin: 5px 0 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #E8E8E8;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.login__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E8E8E8;
}

.login__input:focus {
  border-bottom: 1px solid #000000;
  font-weight: 500;
  outline: none;
}

.login__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin: 6px 0 0;
}

.login__api-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin: 134px 0 0;
}

.login__button {
  margin: 6px 0 0;
  padding: 13px 124px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.login__button:disabled {
  background: #F9F9F9;
  cursor: auto;
}

.login__question {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.login__register-link {
  margin: 0 0 0 6px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.login__button:hover {
  opacity: 0.8;
}

.login__register-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login__link {
    margin: 0;
  }

  .login__title {
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .login {
    margin-top: 56px;
    width: 260px;
    top: 0;
    transform: translate(-50%, 0);
  }
  
  .login__link {
    margin: 0 auto;
  }
  
  .login__title {
    margin: 50px auto 0;
  }

  .login__form {
    margin: 56px 0 0;
    justify-content: space-between;
  }

  .login__api-error {
    margin: 100px 0 0;
  }
  
  .login__button {
    padding: 15px 67px;
    font-size: 12px;
    line-height: 15px;
  }
  
  .login__question {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  
  .login__register-link {
    font-size: 12px;
    line-height: 15px;
  }
}